@media (prefers-color-scheme: dark) {
  body {
    color: #f5f5f5c7;
    background-color: #212529;
  }

  .gymkhanaBody:hover{
    background-color: #3c3c3d;
  }

  .gymkhanaBody p{
    color: #d0dbe6;
  }
  .gymkhanaBody img{
    filter: invert(1);
  }
}